.div {
    display: inline;
}

button {
    width: 240px;
    height: 80px;
    font-size: 24px ;
    color: #669acc;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    border: 5px solid #669acc;
    border-radius: 15px;
    margin: 10px;
    background-color: white;
}

button:hover {
    background-color: #669acc;
    color: white;
}